@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css");
* {
    font-family: "Poppins", sans-serif;
    font-stretch: 100%;
}

html,
body {
    overflow-x: hidden;
    margin-bottom: 20px;
}

#▲,
#◆,
#●,
#■ {
    margin-left: .5vw;
    margin-right: .5vw;
    width: 10vw;
}

.container {
    min-height: 80vh;
    max-height: calc(100vh - 20px);
}

.centerer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 7.5vmin;
    font-weight: 700;
    color: #333;
}

.subtitle {
    font-size: 4vmin;
    font-weight: normal;
    color: #333;
    .pin {
        color: #333;
    }
}

.message-container {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    display: absolute;
}

.message-container .card {
    margin-bottom: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    box-shadow: inset 0 -3px rgba(0, 0, 0, .15);
}

.navigator {
    z-index: 10000;
    font-size: 3.5vmin;
    font-weight: 700;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.navigator .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    background-color: white;
    cursor: pointer;
    transition: background 1s;
}

.navigator .box.active {
    background-color: whitesmoke;
    cursor: default;
    pointer-events: none;
}

.kahoot-color-0 {
    background-color: #e21b3c;
}

.kahoot-color-1 {
    background-color: #1368ce;
}

.kahoot-color-2 {
    background-color: #d89e00;
}

.kahoot-color-3 {
    background-color: #298f0d;
}

.seperator {
    margin-bottom: 8vh;
}

.disabled {
    pointer-events: none;
    background-color: rgba(255, 255, 255, .5);
}

.centered-text {
    font-size: 3vmin;
    text-align: center;
}

.answer-wrapper {
    button {
        width: 15vw;
        margin-right: 1vw;
        margin-left: 1vw;
    }
}

.inset {
    box-shadow: inset 0 -3px rgba(0, 0, 0, .15);
}

.animated-background {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 20s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    background-color: #45a3e5;
}

@-webkit-keyframes bgcolor {
    0% {
        background-color: #45a3e5;
    }
    17% {
        background-color: #3cc;
    }
    34% {
        background-color: #66bf39;
    }
    51% {
        background-color: #ffa602;
    }
    67% {
        background-color: #eb670f;
    }
    84% {
        background-color: #f35;
    }
    100% {
        background-color: #864cbf;
    }
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5;
    }
    17% {
        background-color: #3cc;
    }
    34% {
        background-color: #66bf39;
    }
    51% {
        background-color: #ffa602;
    }
    67% {
        background-color: #eb670f;
    }
    84% {
        background-color: #f35;
    }
    100% {
        background-color: #864cbf;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(160, 160, 160, .8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(160, 160, 160, .8);
}