@include md-register-theme("dark",
(primary: md-get-palette-color(indigo, A200),
accent: md-get-palette-color(red, A200),
theme: dark));

@include md-register-theme("light",
(primary: md-get-palette-color(indigo, A200),
accent: md-get-palette-color(red, A200)));