<div class="screen ranking-screen ng-scope" ios7lazyfix="">
    <div class="screen__main screen__main--ranking ranking-screen-podium-background ng-scope" ng-if="podiumMedalType">
        <div class="medal medal--null"> </div>
        <h1 class="ranking-screen-header ranking-screen-header--with-line">
            <span ng-bind-html="primaryMessage" class="ng-binding">Yo Kekkie</span><br>
        </h1>
        <span>Le</span>
        <div class="ranking-screen-text ng-binding" ng-bind-html="secondaryMessage">
            <img>
        </div>
    </div>
</div>